@media all and (max-width:1600px) {

    .baner h1 {
        right: 17.2%;
    }

    .headerIngredient .featured_image img {

        max-width: 100%;
    }

    .headerIngredient .featured_image {

        top: -229px;
    }

}

@media all and (max-width:1440px) {
    .baner h1 {
        right: 13.5%;
    }

    .headerIngredient .featured_image {
        top: -181px;
    }

}

@media all and (max-width:1370px) {

    .headerIngredient .featured_image {
        top: -153px;
    }

}

@media all and (max-width:1280px) {
    .headerIngredient .featured_image {
        top: -153px;
    }
}

@media all and (max-width:1024px) {
    .headerIngredient .featured_image {
        top: -40px;
    }
      header img
    {
        width: 120px;
    }

}

@media all and (max-width:768px) {
    .container .page_info h2 {
        font-size: 36px;
        line-height: 38px;
        margin: 0 0 15px;
    }

    .container .button-wrap {
        margin-top: 10px;
        height: fit-content;
    }

    .container {
        padding: 0px 20px;
    }

    .baner h1 {
        right: 7%;
        font-size: 60px;
    }

    .headerIngredient .featured_image {
        top: 16px;
    }

    .headerIngredient .sub_page_content {
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        margin: auto;
        height: 140px;
        max-width: 100%;
    }

    header img {
        width: 100px;
    }

    .menu a {

        font-size: 14px;
    }

    .menu li {
        margin: 0 8px;
    }
          .mobile
    {
        display: flex;
    }
    .desctop
    {
        display: none;
    }
    body input ~ nav > ul > li > a {
    
    padding: 5px 0;
    font-size: 22px;
}
    body input:checked ~ nav {
    height: 370px;
}
    header img
    {
        width: 120px;
    }
     .headerIngredient h2 {
        font-size: 2.7em;
        margin: 0.25em 6vw;
        color: #666;
    }
    a
    {
        text-decoration: none;
        cursor: pointer;
        margin: 0px 0 14px;
    }
     .headerIngredient img {
        max-width: 100%;
        height: 140px;
    }


}

@media all and (max-width:425px) {
    .desctop
    {
        display: none;
    
    }
    .mobile
    {
        display: flex;
    }
    a {
        text-decoration: none;
        cursor: pointer;
        margin: 0px 0 14px;
    }

    .baner {
        background-size: cover;
        min-height: 160px !important;
        align-items: flex-end;
    }

    .container {
        width: 100%;
        padding: 0;
    }

    .headerIngredient .sub_page_content {
        height: 100px;
    }

    .baner h1 {
        display: none;
    }

    .headerIngredient h2 {
        font-size: 1.7em;
        margin: 0.25em 6vw;
        color: #666;
    }

    .headerIngredient img {
        max-width: 100%;
        height: 100px;
    }

}
