* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Avenir LT Std 35 Light';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir LT Std 35 Light'), url('../font/AvenirLTStd-Light.woff') format('woff');
}

@font-face {
    font-family: 'AvenirLTStd-Book';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir LT Std 35 Light'), url('../font/AvenirLTStd-Book.woff') format('woff');
}

body {
    overflow-x: hidden;
    font-family: 'Avenir LT Std 35 Light';
}

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 65px;
    justify-content: center;
    align-items: center;
}

header img {
    margin: 0 10px 0 0;
    cursor: pointer;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.menu li {
    margin: 0 15px;
}

.menu a {
    text-decoration: none;
    font-size: 19px;
    color: #666;
    line-height: 32px;
    font-weight: normal;
    margin: 0;
    text-align: left;
}

ul {
    list-style: none;
}

body input {
    opacity: 0;
}

body input + label {
    position: fixed;
    right: 40px;
    height: 20px;
    width: 15px;
    z-index: 5;
}

body input + label span {
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    margin-top: -1px;
    left: 0;
    display: block;
    background: #020304;
    transition: .5s;
}

body input + label span:first-child {
    top: 3px;
}

body input + label span:last-child {
    top: 16px;
}

body label:hover {
    cursor: pointer;
}

body input:checked + label span {
    opacity: 0;
    top: 50%;
}

body input:checked + label span:first-child {
    opacity: 1;
    transform: rotate(405deg);
}

body input:checked + label span:last-child {
    opacity: 1;
    transform: rotate(-405deg);
}

body input ~ nav {
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    transition: .5s;
    transition-delay: .1s;
    overflow: hidden;
}

body input ~ nav > ul {
    text-align: center;
    position: absolute;
    top: 70px;
    left: 20%;
    right: 20%;
}

body input ~ nav > ul > li {
    opacity: 0;
    transition: .5s;
    transition-delay: 0s;
}

body input ~ nav > ul > li > a {
    text-decoration: none;
    color: #666;
    display: block;
    padding: 0;
    font-size: 18px;
}

body input:checked ~ nav {
    height: 45%;
    transition-delay: 0s;
}

body input:checked ~ nav > ul > li {
    opacity: 1;
    transition-delay: .1s;
}

.logo {
    position: relative;
    z-index: 4;
    margin: 0;
}

.mobile {
    display: none;
}

.baner {
    width: 100vw;
    background-image: url(../ingredients/header-ourpromise-new.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right 55% top;
    min-height: 525px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.baner h1 {
    font-size: 72px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 500;
    text-transform: lowercase;
    color: #fff;
    position: absolute;
    right: 56.5%;
    margin-top: 0.5vw;
    line-height: 1.1;
}

.allIngredients {
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 0 0 30px;
}

.ingredient {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 14px 0 0;
}

.ingredient:first-of-type {
    margin: 0;
}

.headerIngredient {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #f1f3f4;
}

.headerIngredient .position {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

.headerIngredient .notes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 25px;
    width: 100%;
}

.headerIngredient .notes img {
    max-width: 150px;
}

.img {
    margin-right: 3.2%;
    width: 22.01%;
    margin-left: 8.5298%;
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.headerIngredient .notesText {
    width: 48.82117%;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.headerIngredient .notesText h3 {
    font-size: 48px;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 20px;
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
}

.headerIngredient .notesText p {
    font-family: 'AvenirLTStd-Book';
    -webkit-font-smoothing: antialiased;
    font-size: 18px;
    line-height: 32px;
    color: #54565B;
}

.headerIngredient .moreOpen,
.headerIngredient .moreClose {
    position: absolute;
    right: 5%;
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerIngredient .moreOpen a,
.headerIngredient .moreClose a {
    font-size: 30px;
    line-height: 40px;
    font-weight: bold;
}

.headerIngredient .moreOpen a:before {
    content: '+';
}

.headerIngredient .moreClose a:before {
    content: '-';
}

.ingredientInfo {
    display: none;
    width: 100%;
    padding: 20px 0;
    height: auto;
    justify-content: center;
}

.container {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.boxInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.boxInfo .turbineImg {
    width: 491px;
    height: auto;
}

.boxInfo .text {
    font-family: 'AvenirLTStd-Book';
    -webkit-font-smoothing: antialiased;
    font-size: 18px;
    line-height: 32px;
    width: 47.96819%;
    color: #666;
    margin-right: 2.35765%;
}

.box2Info .text {
    margin-right: 0%;
    margin-left: 2.35765%;
}

.boxInfoLeft .turbineImg {
    margin-left: 2.35765%;
    margin-right: 0;
}

.boxInfo .text h3 {
    color: #666;
    font-size: 2em;
    margin: 0.5em 0;
}

.column a {
    text-decoration: none;
    color: #ffb700;
}

.column img {
    width: 47.96819%;
}

.column img:first-of-type {
    margin-right: 2.35765%;
}

.three_column_section {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    padding: 10px 0 40px;
    text-align: center;
}

.three_column_section .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2.35765%;
    width: 31.76157%;
}

.three_column_section .column:last-of-type {
    margin-right: 0;
}

.three_column_section .column img {

    width: auto;
}

.three_column_section .columnInfo h3 {
    margin: 20px 0 13px;
    font-size: 23.94px;
    color: #54565B;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal;
}

.three_column_section .columnInfo p {
    font-size: 18px;
    line-height: 32px;
    color: #54565B;
    font-family: 'AvenirLTStd-Book';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
